Diagnostics:
  # 1. Manage Clang-Tidy Rules
  ClangTidy:
    Add:
      - bugprone-macro-*
    Remove:
      - readability-*
      - bugprone-*
      - bugprone-unused-*
      - misc-unused-*
      - performance-no-int-to-ptr
      - performance-enum-size

  # 2. Manage native clangd include warnings separately
  UnusedIncludes: None
  Suppress:
    - unused-function
    - unused-variable 
    - unused-parameter 
    - unused-but-set-variable

CompileFlags:
    Add:
      - Wno-unused
      - Wno-misleading-indentation
      - Wno-bitwise-instead-of-logical